/* styles/rafting.css */

/* Google Font API references */

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f9f9f9;
    --text-color: #333;
}

body {
  font-family: "Roboto", system-ui;
  font-weight: 400;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

nav {
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
}

.hero {
    position: relative;
    background-image: url('../images/hero-image.jpg');
    display: block;
    height: auto;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    font-weight: 100;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero article img {
    float: right;
    width: 100px;
    height: 100px;
    margin: 10px;
}

main {
    max-width: 800px;
    margin: 40px auto;
}

section {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: #333;
}